
    body{
        margin: 0;
        padding: 0;
       
    }
    p{
     color: gray;
 }
    #color{
        color:rgb(255, 0, 200);
        font-weight: bold;
        font-size: 40px;
    }
   .btn-cls{
    text-decoration: none;
    background-color:rgb(255, 0, 200);
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
  

   }

    .half-width{

        width: 40%;
        float: left;
    }
  .half-width img{
      width: 40%;
     
  }
 .top-banner{
    background-image:url("images/header-bg.png"); 
    background-repeat: no-repeat;
    background-size: auto;
 }


 .header{
   background-image: url("images/header-bg.png");  
   background-repeat: no-repeat;
   background-position: center;
 }

 

 

 section{
     margin-top: 100px;
    
 }
 .btn{
   background-color: rgb(233, 33, 33);
   padding: 15px 50px ;
   color: #fff;
 } 
.last{

  position: absolute;

  margin-left: 50%;


}

.new-width{
    width: 100%;
    float: left;
    height: 50%;
    
}
.new-width img{
    width: 20%;
    height: 50%;
}    

.new-width-2{
    width: 100%;
    float:right;
   
   
}
.heading{
text-align: center;

}
 .footer-cls{
 background-image: url(images/footer-bg.png);
 background-repeat: no-repeat;
 background-position: center;
 margin-bottom: 30px;
 
 }